/* Styles */
body {
  background: #f1f1f1;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

hr {
    border-top: 1px solid #949494;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.detail-page {
  margin-bottom: 50px;

  .detail-img-container {
    margin-top: 10px;

    .detail-img {
      min-height: 200px;
    }
  }

  .categories-container {
    .category-item {
      margin: 10px 0px;
    }
  }
}

.loading-spinner {
  font-size: 50px;
  margin: 20px 0px;
}

.pages-container {
  margin-top: 20px;
}

.bookmark-btn-container {
  margin-bottom: 50px;
}